.idea/

__pycache__

logs/*
wandb/
lightning_logs/

data/WSD_Evaluation_Framework/
data/preprocessed/GlossBERT/SemCor*.json
data/preprocessed/WSDisambiguator/*

model/bert-base-cased/
model/*.ckpt
model/glosses/
model/lemma_pos_dictionary.json

!.gitkeep